components/
  |---accordion.jade
  |---alerts.jade
  |---bootswatch.jade
  |---buttons.jade
  |---carousel.jade
  |---dropdowns.jade
  |---forms.jade
  |---icons.jade
  |---images.jade
  |---labels.jade
  |---list-groups.jade
  |---modal.jade
  |---navbar.jade
  |---navs.jade
  |---panels.jade
  |---tables.jade
  |---tabs.jade
  |---toggle.jade
  |---tooltips.jade
layouts/
  |---blog.jade
  |---bootswatch.jade
  |---carousel.jade
  |---cover.jade
  |---dashboard.jade
  |---jumbotron.jade
  |---jumbotron-narrow.jade
  |---justified-nav.jade
  |---navbar.jade
  |---navbar-fixed.jade
  |---navbar-static.jade
  |---non-responsive.jade
  |---offcanvas.jade
  |---sign-in.jade
  |---starter.jade
  |---sticky-footer.jade
  |---sticky-footer-navbar.jade
  |---theme-template.jade